{
    "presets": [["@babel/preset-env", {
        "targets": {
            "ie": "11"
        }
      }], "@babel/preset-typescript"],
    "plugins":[
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "@code": "./Code/src",
                "@tests": "./spec/support/Modules",
                "@helpers": "./spec/support/Helpers"
            }
        }]
    ]
}